<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <?php echo $title; ?>
    </title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- CORE CSS-->
    <link href="<?php echo base_url();?>template/css//materialize.css" type="text/css" rel="stylesheet">
    <link href="<?php echo base_url();?>template/css/plugin/materialdesignicons.min.css" type="text/css" rel="stylesheet">
    <link href="<?php echo base_url();?>template/css//style.css" type="text/css" rel="stylesheet">
    <link href="<?php echo base_url();?>template/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <!--plugin-->
    <link href="<?php echo base_url();?>template/css//sweetalert.css" type="text/css" rel="stylesheet">
</head>

<body>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <div class="navbar-fixed">
            <nav class="navbar-color gradient-45deg-light-blue-indigo" role="navigation">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo center"><img src="<?php echo base_url()?>template/images/logo/PKH.png"></a>
                    <ul class="right">
                        <li>
                            <a data-activates="nav-mobile" class="btn btn-warning-confirm gradient-45deg-indigo-light-blue white-text" href="">Keluar</a>
                        </li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="btn-medium button-collapse"><i class="material-icons white-text">menu</i></a>
                </div>
            </nav>
        </div>
    </header>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- Navbar Mobile -->
    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav">
        <ul id="nav-mobile" class="side-nav collapsible leftside-navigation">
            <li class="user-details cyan darken-2">
                <div class="row">
                    <div class="col col s4 m4 l4">
                        <img src="<?php echo base_url()?>template/images/avatar/avatar-7.png" alt="" class="circle responsive-img valign profile-image cyan">
                    </div>
                    <div class="col col s8 m8 l8">
                        <p class="user-roal" style="margin-top:5px !important;">Ady_Wijanarko,S.Kom</p>
                        <p class="user-roal" style="margin-top:1 px; margin-right:3px;">Administrator</p>
                    </div>
                </div>
            </li>
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                    <div class="collapsible-header"><i class="mdi mdi-account-key"></i>Manajemen Akun</div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="<?php echo base_url() ?>admin/surat/lapor_smasuk"><span class="mdi mdi-24px mdi-account-check"></span>&nbsp;Akun Aktif</a></li>
                            <li><a href="<?php echo base_url() ?>admin/surat/laporan_skeluar"><span class="mdi mdi-24px mdi-account-alert"></span>&nbsp;Akun Nonaktif</a>
                            </li>
                            <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi mdi-24px mdi-account-convert"></span>&nbsp;Log Masuk</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <div class="collapsible-header"><i class="mdi mdi-sigma"></i>Mining C4.5</div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="<?php echo base_url() ?>admin/surat/lapor_smasuk"><span class="mdi mdi-24px mdi-chart-arc"></span>&nbsp;Prediksi</a></li>
                            <li><a href="<?php echo base_url() ?>admin/surat/laporan_skeluar"><span class="mdi mdi-24px mdi-file-tree"></span>&nbsp;Pohon Keputusan</a></li>
                            <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi mdi-24px mdi-clipboard-pulse"></span>&nbsp;Data Latih</a>
                            </li>
                            <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi mdi-24px mdi-sigma-lower"></span>&nbsp;Cross Validation</a>
                            </li>
                            <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi  mdi-24px mdi-keyboard-outline"></span>&nbsp;Input Variabel</a>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <div class="collapsible-header"><i class="mdi mdi-database"></i>Data PKH</div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="<?php echo base_url() ?>admin/surat/laporan_skeluar"><span class="mdi mdi-24px mdi-account-heart"></span>&nbsp;Peserta Aktif</a>
                            </li>
                            <li><a href="<?php echo base_url() ?>admin/surat/lapor_smasuk"><span class="mdi mdi-24px mdi-account-remove"></span>&nbsp;Peserta Non
                                    Aktif</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </ul>
    </aside>
    <!-- End Navbar Mobile -->
    <!--Start Side Nav -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="<?php echo base_url()?>template/images/avatar/avatar-7.png" alt="" class="circle responsive-img valign profile-image cyan">
                            </div>
                            <div class="col col s8 m8 l8">
                                <p class="user-roal" style="margin-top:5px !important;">Ady_Wijanarko,S.Kom</p>
                                <p class="user-roal" style="margin-top:1 px; margin-right:3px;">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li class="bold">
                            <div class="collapsible-header"><i class="mdi mdi-account-key"></i>Manajemen Akun</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="<?php echo base_url() ?>admin/surat/lapor_smasuk"><span class="mdi mdi-24px mdi-account-check"></span>&nbsp;Akun Aktif</a></li>
                                    <li><a href="<?php echo base_url() ?>admin/surat/laporan_skeluar"><span class="mdi mdi-24px mdi-account-alert"></span>&nbsp;Akun Nonaktif</a>
                                    </li>
                                    <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi mdi-24px mdi-account-convert"></span>&nbsp;Log Masuk</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="bold">
                            <div class="collapsible-header"><i class="mdi mdi-sigma"></i>Mining C4.5</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="<?php echo base_url() ?>admin/surat/lapor_smasuk"><span class="mdi mdi-24px mdi-chart-arc"></span>&nbsp;Prediksi</a></li>
                                    <li><a href="<?php echo base_url() ?>admin/surat/laporan_skeluar"><span class="mdi mdi-24px mdi-file-tree"></span>&nbsp;Pohon Keputusan</a></li>
                                    <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi mdi-24px mdi-clipboard-pulse"></span>&nbsp;Data Latih</a>
                                    </li>
                                    <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi mdi-24px mdi-sigma-lower"></span>&nbsp;Cross Validation</a>
                                    </li>
                                    <li><a href="<?php echo base_url() ?>admin/surat/laporan_sinternal"><span class="mdi  mdi-24px mdi-keyboard-outline"></span>&nbsp;Input Variabel</a>
                                </ul>
                            </div>
                        </li>
                        <li class="bold">
                            <div class="collapsible-header"><i class="mdi mdi-database"></i>Data PKH</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="<?php echo base_url() ?>admin/surat/laporan_skeluar"><span class="mdi mdi-24px mdi-account-heart"></span>&nbsp;Peserta Aktif</a>
                                    </li>
                                    <li><a href="<?php echo base_url() ?>admin/surat/lapor_smasuk"><span class="mdi mdi-24px mdi-account-remove"></span>&nbsp;Peserta Non
                                            Aktif</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </ul>
            </aside>
            <!-- START FOOTER -->
            <footer class="page-footer fixed gradient-45deg-light-blue-cyan">
                <div class="footer-copyright">
                    <div class="container">
                        <span class="center">Copyright ©
                            <script type="text/javascript">
                                document.write(new Date().getFullYear());

                            </script></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
<!-- END FOOTER -->
<!-- jQuery Library -->
<script type="text/javascript" src="<?php echo base_url();?>template/vendors/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="<?php echo base_url();?>template/js/materialize.min.js"></script>
<script type="text/javascript" src="<?php echo base_url();?>template/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="<?php echo base_url();?>template/js/plugins.js"></script>
<script type="text/javascript" src="<?php echo base_url();?>template/js/custom-script.js"></script>
<script type="text/javascript">
    $(".button-collapse").sideNav();

</script>
